@model IEnumerable<Web_API_MVC_Consumer.Models.Employee>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<hr />

<h2 class="text-center">View Employees</h2>

<hr />

<table class="table table-active text-center">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            Department Name
        </th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.Id } , new {@class="btn btn-warning"})
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Employee", new { id = item.Id }, new {@class="btn btn-danger"})
            </td>
        </tr>
    }

</table>
